@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#banner {
  background-image: url("./assets/banner.png");
  background-position: center;
  background-size: cover;
}
