@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
